
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^trillionservers\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.trillionservers\.com$
RewriteRule ^/?$ "https\:\/\/trillionservers\.com\/" [R=301,L]